:root{
    --Preto: #03071eff;
    --chocolate-cosmos: #370617ff;
    --vermelho bordo: #6a040fff;
    --Vermelho : #9d0208ff;
    --engineering-orange: #d00000ff;
    --sinopia: #dc2f02ff;
    --persimmon: #e85d04ff;
    --princeton-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff; 
}